*{
    padding: 0;
    margin: 0;
}
    
.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.classes h2{
    text-align: center;
    font-size: 40px;
    color:darkslateblue;
}